<%= form_for(@department_member) do |f| %>
  <% if @department_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department_member.errors.count, "error") %> prohibited this department_member from being saved:</h2>

      <ul>
      <% @department_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :department_id %><br />
    <%= f.number_field :department_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :leader %><br />
    <%= f.check_box :leader %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
